/* Class selector*/
.wrapper {
    
    width: 80vw;
    margin: 0 auto; 
    padding-top: 2em;
    padding-left: 3em; 
    padding-right: 3em; 
  }
  
 /*Element Selector*/
  h1 {
    
    font-family: 'Montserrat', sans-serif;
  }
  
 /*ID Selector */
  #mainheading {
    
    font-family: 'Montserrat', sans-serif;
  }
  
 
  p, table {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem; 
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    background-color: #F0F0F0;
  }
  
  footer {
    background-color: #333;
    color: #FFF;
    padding: 3em 0 3em 3em;
    position: sticky;
    bottom: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }